* {
  box-sizing: border-box;
}
:root {
  --accentColor: #ec7979;
  --titleColor: #000000;
  --subtitleColor: #86878b;
  --content-width: 1170px;
  --mobile-padding: 16px;
  --gutter: 15px;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  font-family: "Raleway", sans serif;
  font-size: 18px;
  line-height: 1, 4;
  color: var(--titleColor);
  scroll-behavior: smooth;
  scroll-padding-top: 125px;
}
/*  */
.container {
  margin: 0 auto;
  max-width: calc(var(--content-width) + var(--mobile-padding) * 2);
  padding-left: var(--mobile-padding);
  padding-right: var(--mobile-padding);
}
/*  */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--mobile-padding) * (-1));
}
/*  */
.col-4 {
  width: calc(100% / 12 * 4 - var(--gutter) * 2);
  margin: 0 15px;
}

.col-5 {
  width: calc(100% / 12 * 5 - var(--gutter) * 2);
  margin: 0 15px;
}
.col-6 {
  width: calc(100% / 12 * 6 - var(--gutter) * 2);
  margin: 0 15px;
}

.col-7 {
  width: calc(100% / 12 * 7 - var(--gutter) * 2);
  margin: 0 15px;
}
/*  */
.outline-button {
  display: flex;
  color: #fff;
  border: 2px solid #fff;
  justify-content: center;
  font-family: "open sans";
  font-weight: 600;
  padding: 20px 0;
  text-decoration: none;
  transition: 0.3s;
}
.outline-button:hover {
  color: var(--accentColor);
  border: 2px solid var(--accentColor);
}
.form-input {
  border: none;
  outline: none;
  border-bottom: 3px solid #bdbdbd;
  color: #bdbdbd;
  font-size: 14px;
}
.form-input:hover {
  color: brown;
  transition: 0.3s;
  cursor: pointer;
  background: rgb(194, 227, 248);
}
/*  */
.head {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.head__title {
  font-size: 36px;
  text-transform: uppercase;
}

.head__title::after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  margin: 60px auto 0;
  background-color: var(--accentColor);
}

.head__subtitle {
  color: var(--subtitleColor);
  margin-top: 40px;
}
/* ---Header------ */
.header {
  position: fixed;
  background: #000000;
  display: inline-block;
  width: 100%;
}
.header_has-bg {
  background: rgb(116, 104, 94);
}

.header__row {
  display: flex;
}
.header__logo {
  transform: translatex(-20%);
}
.header__navigator {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-left: auto;
}
.header__item {
  display: inline-block;
  padding: 30px;
}

.header__item_has-child {
  position: relative;
}

.header__item_has-child:hover > .header__submenu {
  display: block;
  border-radius: 10px;
}

.header__submenu {
  position: absolute;
  margin: 20px 0;
  display: none;
  background: #818184;
}

.header__submenu-item {
  padding: 5px;
}
.header__submenu-link {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.header__submenu-link:hover {
  opacity: 0.6;
}

.header__submenu-item_has-child {
  position: relative;
}
.header__submenu-item_has-child:hover > .header__presubmenu {
  display: block;
  transform: translateX(50%);
  border-radius: 10px;
}
.header__submenu-item_has-child::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 10px;
  border-bottom: 3px solid var(--accentColor);
  border-right: 3px solid var(--accentColor);
  transform: rotate(45deg);
  z-index: 5;
}
.header__submenu-item_has-child:hover::after {
  transform: rotate(225deg);
}
.header__presubmenu {
  position: absolute;
  padding: 20px;
  background: #bdbdbd;
  display: none;
}
.header__presubmenu-item {
  padding: 10px;
}
.header__presubmenu-link {
  text-decoration: none;
  color: #ec7979;
  transition: 0.3s;
}
.header__presubmenu-link:hover {
  opacity: 0.5;
}

.header__presubmenu-link {
  text-decoration: none;
  color: #ec7979;
  transition: 0.3s;
}
.header__presubmenu-link:hover {
  opacity: 0.5;
}

.header__item-link {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.header__item-link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border-bottom: 3px solid var(--accentColor);
  border-right: 3px solid var(--accentColor);
  margin-left: 10px;
  transform: rotate(45deg);
  transition: 0.3s all;
}
.header__item-link:hover::after {
  transform: rotate(225deg);
  display: inline-block;
}

.header__item-link:hover {
  color: var(--accentColor);
  /* transform: rotate(90deg); */
}

/* Promo  start*/

.promo {
  padding-top: 208px;
  padding-bottom: 185px;
  background: url(../image/promo/bg.png), url(../image/promo/image.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.promo__info {
  margin-top: 55px;
}
.promo__button {
  width: 270px;
  margin-top: 42px;
}
.promo__head {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
}

.promo__title {
  font-size: 48px;
  text-align: left;
}

.promo__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 170px;
  height: 1px;
  margin: 60px auto;
  background-color: currentColor;
}

.promo__subtitle {
  color: #fff;
  margin-bottom: 42px;
  margin-top: 40px;
}

.promo__form {
  position: relative;
  align-self: flex-start;
  background: #fff;
  border-radius: 10px;
  margin-top: 55px;
  font-family: "Open Sans";
  padding: 0 50px;
}
.promo__form-title {
  font-weight: 700;
  font-size: 24px;
  padding: 30px 0;
  margin-bottom: 12px;
  text-align: center;
}
.promo__form-title span {
  color: #ec7979;
}

.promo__form-input {
  padding: 33px 0 16px 0;
  font-weight: 400;
  width: 100%;
}

.promo__form-input:focus {
  box-shadow: 0 0 20px var(--accentColor);
}
.promo__form-button {
  transform: translateX(-51px);
  padding: 25px 0;
  width: calc(100% + 102px);
  border: none;
  margin: 105px 0 0 0;
  border-radius: 0 0 10px 10px;
  font-size: 15px;
  font-weight: 600;
}
.promo__form-button:hover {
  color: var(--accentColor);
  background: #86878b;
}

.prime-button {
  background-color: var(--accentColor);
  color: #fff;
  transition: 0.4s;
}
/*-------------------- */
/* Media */

.media {
  background: rgba(248, 239, 239, 1);
  padding: 18px;
  margin-bottom: 109px;
}

.media__title {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 32, 68;
  margin-bottom: 18px;
}

.media__text {
  color: var(--subtitleColor);
}

.media__navigator {
  list-style: none;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.media__item {
  flex-direction: row;
  display: inline-block;
  margin-right: calc(var(--gutter) * 2);
}

/*      tabs start */
.tabs {
  position: relative;
  padding-bottom: 50px;
  padding-left: 82px;
  height: 100vh;
}

.tab__items {
  margin-top: 100px;
}
.tabs__item {
  margin-top: 100px;
  position: relative;
  padding: 10px 73px 0;
  left: 0;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.tabs__item:first-child {
  padding-left: 0;
}
.tabs-border{
  border: 1px solid #C6CBCD;
  border-bottom: 0;

}
#tabs .tabs__row{
  border: 1px solid #C6CBCD;
}
.tabs__row {
  display: none;
  position: absolute;
  margin-left: 18px;
}
.tabs__row:nth-child(2) {
  display: -webkit-box;
}

.tabs__row:target {
  display: -webkit-inline-box;
}

.tabs-block__info-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  padding: 50px 0;
}
.tabs-block__info-text {
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 27px;
}
.tabs__button {
  width: 270px;
  height: 58px;
  margin-bottom: 54px;
  border: none;
}

/*      tabs end */

/* -------WHY----------- */
.why {
  padding-top: 50px;
  padding-bottom: 58px;
}
.why__card {
  text-align: center;
}
.why__card-icon {
  height: 92px;
  width: 92px;
  border: 1px solid rgba(236, 121, 121, 1);
  border-radius: 100px;
  margin-bottom: 60px;
}

.why__card-title {
  font-size: 24px;
  font-weight: 700;
  font-family: "Open Sans";
  padding: 40px 0;
}
/* -----Pricing------- */

.pricing {
  background: rgba(245, 245, 245, 1);
  padding-bottom: 50px;
}
.pricing__row {
  color: rgba(255, 255, 255, 1);
}
.pricing__card {
  background: rgba(51, 51, 51, 1);
  text-align: center;
}
.pricing__card-title {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  border: 2px solid rgba(245, 245, 245, 1);
  padding: 20px;
}
.pricing__card-subtitle {
  font-size: 36px;
  font-weight: 700;
  border: 2px solid rgba(245, 245, 245, 1);
  padding: 30px;
}
.pricing__card-text {
  padding: 15px 0;
  color: #ffffff80;
}
.pricing__card_active {
  transform: translatey(-20px);
}
.pricing__list-item {
  background: #fff;
  padding: 15px 0;
  border: 2px solid rgba(245, 245, 245, 1);
  color: rgba(134, 135, 139, 1);
}

/* Review*/
.review {
  padding-bottom: 64px;
}
.review__card-descr {
  padding: 38px 0;
  border-radius: 10px;
  color: var(--subtitleColor);
  position: relative;
  background: #e2e2e2;
  text-align: center;
}
.review__card-descr::after {
  content: "";
  position: absolute;
  background: #e2e2e2;
  left: 25%;
  bottom: -11px;
  width: 20px;
  height: 22px;
  z-index: -1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.review__author {
  margin-top: 66px;
  display: flex;
  flex-wrap: wrap;
}
.review__author-photo {
  width: 70px;
  height: 70px;
  margin-left: 0;
}
.review__author-info {
  padding: 10px 0;
  margin-left: 30px;
}
.review__author-name {
  font-family: "Open Sans";
  font-style: 24px;
  font-weight: 700;
  padding-bottom: 25px;
}

/* Stylish */
.stylish {
  background: url(../image/stylish/figma.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffff;
  padding-bottom: 50px;
}

.head__title_light::after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  margin: 60px auto;
  background-color: currentColor;
}

.head__subtitle_light {
  color: #fff;
}

.stylish__button {
  width: 370px;
  margin: 0 auto;
}

/* ---contact */
.contact__row {
  display: flex;
}

.contact__form {
}

.contact__button {
  display: flex;
  justify-content: center;
  width: 370px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0;
  border: none;
}

.contact__button:hover {
  background: #86878b;
  color: var(--accentColor);
}

.contact__form-input {
  width: 570px;
  height: 85px;
}

.contact__form-input {
  width: 570px;
  height: 85px;
}

.contact-message {
  height: 255px;
}

/* Footer */
.footer {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__navigator {
  margin: 0 180px;
  display: flex;
  align-items: center;
}

.footer__item-icon {
  padding: 30px;
  display: inline-flex;
  flex-wrap: wrap;
}

.footer__item-icon:hover {
  background: var(--accentColor);
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(79, 5, 237);
  transition: 0.3s;
}

.footer__subtitle {
  display: block;
  margin: auto;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.5);
}
