* {
  box-sizing: border-box;
}
:root {
  --accentColor: #ec7979;
  --titleColor: #000000;
  --subtitleColor: #86878b;
  --content-width:1170px;
  --mobile-padding:16px;
  --gutter:15px;
}
.container {
  margin: 0 auto;
  max-width: calc (var(--content-width) + var(--mobile-padding) * 2);
  padding-left: var(--mobile-padding);
  padding-right:var(--mobile-padding);
}
p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
html {
  font-family: "Raleway", sans serif;
  font-size: 18px;
  line-height: 1,4;
  color:var(--titleColor) ;
}
.row{
  display:flex;
  flex-wrap: wrap;
}
.media{
  background:rgba(248, 239, 239, 1);
  padding: 18px;
}

.media__head{
  width: 470px;
} 
.media__title {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 32,68;
  margin-bottom: 18px;
}
.media__text{
  color: var(--subtitleColor);
  width: 470px;
  } 
  .media__navigator{
    list-style: none;
    margin-left: auto;
  }
 .media__icon{
  flex-direction: row;
  display:inline-block;
  margin-right: calc( var(--gutter) * 2);
 }

/* -------WHY----------- */

.head{
  width:100% ;
  margin-top: 50px;
  margin-bottom: 110px;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.head__title {
  font-size: 36px;
  text-transform: uppercase;
} 
.head__title::after{
content: "";
display: block;
width: 170px;
height: 2px;
margin: 60px auto;
background-color: var(--accentColor);
}

.head__subtitle {
 color: var(--subtitleColor);
 margin-top: 40px;
} 
.why__card {
  margin-bottom: 58px;
}
.col-4{
  width:calc(100% / 3 - var(--gutter) * 2);
  margin:0 15px;
  text-align: center;;
}
.why__icon{
  height: 92px;
  width: 92px;
  border: 1px solid rgba(236, 121, 121, 1);
  border-radius: 100px;
  margin-bottom: 60px;
  }
.why__card-title {
   font-size: 24px;
  font-weight: 700;
  font-family: "Open Sans";
  padding: 40px 0; 
}
/* -----Pricing------- */

 .pricing{
  background:rgba(245, 245, 245, 1);
}
.pricing__row {
  color: rgba(255, 255, 255, 1); */ */
}
 .pricing__card {
  background: rgba(51, 51, 51, 1);
} 
.pricing__card-title{
font-family: "Open Sans";
font-size: 24px;
font-weight: 700;
border: 2px solid rgba(245, 245, 245, 1);
padding:20px ;
}
.pricing__card-subtitle {
  font-size: 36px;
  font-weight: 700;
border: 2px solid rgba(245, 245, 245, 1);
padding: 30px;
}
.pricing__card-text{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF80;
}
.pricing__card_active{
  transform: translatey(-20px);
}
.pricing__list-item {
  background: #fff;
  height: 50px;
  border: 2px solid rgba(245, 245, 245, 1);
  color: rgba(134, 135, 139, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Review*/

